@model CSCI_3110_Term_Project.Models.Entities.PokemonInstance

<tr>
    <td>
        @Html.DisplayFor(model => model.Id)
    </td>
    <td>
        <img width="100" height="100" src="@($"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/{Model.PokemonSpecies.DexNumber}.png")" />
    </td>
    <td>
        @Html.DisplayFor(model => model.PokemonSpecies.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Item.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Ability.Name)
    </td>
    <td>
        <ul>
            @foreach(var move in Model.Move)
            {
                <li>@move.Name</li>
            }
        </ul>
    </td>
    <td>
        <a asp-controller="PokemonInstance" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-controller="PokemonInstance" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>