@model CSCI_3110_Term_Project.Models.Entities.Teams
@using CSCI_3110_Term_Project.Models.Entities;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="PokemonInstance" asp-action="Create" asp-route-teamId="@Model.Id" id="createInstance">Add a Pokemon to the Team</a>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Sprite</td>
            <td>Species</td>
            <td>Item</td>
            <td>Ability</td>
            <td>Moves</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model.PokemonInstances)
        {
            <partial name="_PokemonInstance" model="pokemon" />
        }
    </tbody>
</table>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
